
<!-- MainContentComponent.html -->
<div class="main-content">
  <div class="container mt-5 custom-about">
    <div class="row">
      <div class="col-sm-6 main-page-image" @fadeIn>
        
        <img  src="assets/images/boy-graduation-bro.svg" alt="Logo">
      </div>
      <div class="col-sm-6">
        
        <p class="lead lead-title" >EDUCATION</p>

        <br>
        <br>
        <h4 class="lead lead-sub-title">💻 Computer Programming Diploma</h4>
        <a href="https://www.algonquincollege.com/sat/program/computer-programming/" target="_blank" rel="noopener noreferrer">Algonquin College - 2021-2023</a>
        <br>
        <br>

        <h4 class="lead lead-sub-title">📊 Computer System Analysis Diploma</h4>
        <a href="https://www.cruzeirodosul.edu.br/graduacao/analise-e-desenvolvimento-de-sistemas/" target="_blank" rel="noopener noreferrer">Cruzeiro do Sul University - 2018-2020</a>
        <br>
        <br>
        <p>
          🚀 I hold a diploma in Computer Programming from Algonquin College, Ontario, where the program emphasized practical 
          applications of programming languages such as Java, Python, JavaScript, COBOL, SQL, Database, and BI. 
          The curriculum provided extensive, hands-on experience, preparing students to be 
          industry-ready by focusing on database design, administration, and development 
          strategies using leading industry software and tools. Specialized projects and 
          optional paid co-operative education work terms were integral parts of the curriculum, 
          offering real-world experience and interactions with external clients.
        </p>
      
        <p>
            In addition to my diploma, I also hold a degree in System Analysis and Development from 
            Cruzeiro do Sul University. This program focused on in-depth knowledge and development of 
            skills in areas like Data Modeling, Cloud Computing, Big Data, Computer Networks, and 
            Web Application Development. The blend of theoretical knowledge and practical skills 
            acquired during this program has provided me with a comprehensive understanding of the 
            technological aspects in various domains.
        </p>
      
        <p>
            These educational experiences have equipped me with versatile skills, allowing me to 
            navigate the evolving technological landscape effectively and apply my knowledge in 
            various sectors including healthcare, finance, and education. I cherish strategic 
            problem-solving and continuous learning, and I am always eager to apply my 
            organizational skills and attention to detail, whether working independently or 
            collaboratively on innovative projects.
        </p>
      
        
      </div>
      
      
    </div>
  </div>
</div>

