<div class="container mt-5 custom-about">
    <div class="row">
      <div class="col-sm-6">
        
        <br>
        <h2>Education</h2>
        <h4>Computer Programming Diploma -  💻</h4>
        <a href="https://www.algonquincollege.com/sat/program/computer-programming/" target="_blank" rel="noopener noreferrer">Algonquin College - 2021-2023</a>
        <br>
        <br>
        <p>🚀 The Computer Programming Diploma is a two-year program from Ontario College, 
            focusing on preparing students for careers in software development. 
            The curriculum is extensive, emphasizing programming languages like Java, 
            COBOL, SQL, and PHP, along with practical applications, enabling students to 
            be workplace-ready. It includes specialized learning in program development 
            strategies, database design, and administration using leading industry software 
            like Oracle and CASE tools. The course also offers hands-on experience through a 
            final semester software development project with external clients and an 
            optional paid co-operative education work term, subject to availability and 
            eligibility. Graduates gain versatile skills, applicable in various sectors 
            including healthcare, finance, and education, equipping those who enjoy strategic 
            problem-solving and continuous learning with the tools to navigate the evolving 
            technological landscape effectively. The program is optimal for those who value 
            organization, attention to detail, and can work both independently and collaboratively.</p>
        
        
      </div>
      <div class="col-sm-6 main-page-image">
        
        <img  src="assets/images/boy-graduation-bro.svg" alt="Logo">
      </div>
      
    </div>
  </div>