.img-footer{
    margin-right: 20px;
    margin-left: 20px;
    padding:5px;
    width: 60px;
    height: 50px;
    max-width: 50px;
  }
  
  .img-footer:hover{
    opacity: 0.7;
  }
  
  .div-copyright {
    margin:0px;
    padding-top:20px;
    background-color: #fff;
    text-align: center;
    height: 40px;
  }
  
  footer {
    align-content: center;
    background-color: #ebe9e9;
    color: black;
    padding: 20px;
  }
  .divMidia a {
    color: white; /* or any other color you prefer */
    text-decoration: none; /* removes the underline from the link */
}

.divMidia a:hover {
    color: rgb(190, 190, 190); /* or any other color you prefer for hover state */
    text-decoration: underline; /* adds underline on hover, optional */
}
.div-copyright {
  margin:0px;
  padding-top:20px;
  background-color: #ebe9e9;
  text-align: center;
  color: rgb(113, 111, 111);
  height: 40px;
  
}

.img-footer {
  margin-right: 10px;
  margin-left: 10px;
}
.col-md-2 {
  text-align: center;
}
