<footer class="container-fluid text-center">
    <div class="container">
      <div class="row justify-content-center"> <!-- added justify-content-center to center the items -->
        <div class="col-md-2">
          <a href="https://www.linkedin.com/in/fred-macedo" target="_blank" rel="noopener noreferrer">
            <img src="assets/images/linkedin2.png" class="img-footer" alt="Linkedin"> Linkedin
          </a>
        </div>
  
        <div class="col-md-2">
          <a href="mailto:fredvalentim.macedo@gmail.com" target="_blank" rel="noopener noreferrer">
            <img src="assets/images/arroba.png" class="img-footer" alt="Email"> Email me
          </a>
        </div>
        
        <div class="col-md-3">
          <a href="https://www.flaticon.com/free-icons/instagram" target="_blank" rel="noopener noreferrer">
            <img src="assets/images/signpost.png" class="img-footer" alt="Icons"> Icons by Flaticon
          </a>
        </div>

        <div class="col-md-3">
          <a href="https://storyset.com/work" target="_blank" rel="noopener noreferrer">
            <img src="assets/images/vector.png" class="img-footer" alt="Illustrations">illustrations by Storyset
          </a>
        </div>
        
      </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center copyright div-copyright">
        <div class="col-mb-12 flex-center">
           
                <h6>Copyright Frederico Lucio Macedo 
                 
              </h6>
          
           
            
        </div>


    </div>
    


   </div>
  </footer>
  