.img-footer{
    margin-right: 20px;
    margin-left: 20px;
    padding:5px;
    width: 60px;
    height: 50px;
    max-width: 50px;
  }
  
  .img-footer:hover{
    opacity: 0.7;
  }
  
  .div-copyright {
    margin:0px;
    padding-top:20px;
    background-color: #fff;
    text-align: center;
    height: 40px;
  }
  
  footer {
    align-content: center;
    background-color: #dedcdc;
    color: white;
    padding: 20px;
  }
  .divMidia a {
    color: white; /* or any other color you prefer */
    text-decoration: none; /* removes the underline from the link */
}

.divMidia a:hover {
    color: rgb(190, 190, 190); /* or any other color you prefer for hover state */
    text-decoration: underline; /* adds underline on hover, optional */
}


