<footer class="container-fluid text-center">
    <div class="container">
      <div class="row justify-content-center"> <!-- added justify-content-center to center the items -->
        <div class="col-md-2">
          <a href="https://www.linkedin.com/in/fred-macedo" target="_blank" rel="noopener noreferrer">
            <img src="assets/images/linkedin2.png" class="img-footer" alt="Linkedin"> Linkedin
          </a>
        </div>
  
        <div class="col-md-2">
          <a href="mailto:fredvalentim.macedo@gmail.com" target="_blank" rel="noopener noreferrer">
            <img src="assets/images/arroba.png" class="img-footer" alt="Email"> Email me
          </a>
        </div>
  
        
      </div>
    </div>
  </footer>
  