<div class="container mt-5 custom-about">
    <div class="row">
      <div class="col-sm-6">
        <h3>webpage In construction 🚧</h3>
        <br>
        <h2>About Me</h2>
        <h4>Frederico Lucio Macedo -  💻 Software Engineer</h4>
        <br>
        <p>🚀 Welcome to My LinkedIn! I’m a passionate and versatile Software Developer and Quality Assurance Technician 
            specializing in crafting innovative solutions across multiple technologies. I’m eager to collaborate and contribute to projects that make a difference!.</p>
        <p>I love arts, music, photography, the natural environment and everything about technology.</p>
        <p>⏳ Expertise:
            Java Backend Development: Leverage Java & OOP to deliver robust and scalable backend solutions, ensuring optimal performance and reliability.
            Python Automation & AI: Develop advanced Python scripts and AI models, unlocking intelligent insights and automating complex tasks, enhancing efficiency.
            Web Development: Design and create dynamic, user-friendly web applications utilizing Angular, NodeJS, TypeScript, and related technologies, enhancing user interactions.
            Quality Assurance: Execute meticulous QA processes, guaranteeing software meets the highest standards of quality, functionality, and user experience.
        </p>
        <p>
            🛠 Technologies:
            Java | Python | Angular | NodeJS | TypeScript | Docker | AI | React | OOP | SQL | PostgreSQL | MySQL | MongoDB | HTML | CSS | JavaScript | Bootstrap | TCP/IP
        </p>   
        <p>
            🌟 Philosophy:
            I prioritize quality and innovation, strive to push the technological boundaries, and am committed to lifelong learning and growth. Whether it’s developing state-of-the-art software solutions, optimizing systems, or contributing to meaningful projects, I’m always up for a challenge!

        
        </p>  
        <p>
            Let’s connect! 🌐 I’m open to opportunities, collaborations, and networking. Feel free to drop me a message!
        </p>          
      </div>
      <div class="col-sm-6 main-page-image">
        
        <img  src="assets/images/—Pngtree—modern flat design concept of_5333346.png" alt="Logo">
      </div>
      
    </div>
  </div>
  <app-footer></app-footer>