<!-- MainContentComponent.html -->
<div class="main-content">
  <div class="container mt-5 custom-about">
    <div class="row">
      <div class="col-sm-6">
        
        <br>
        <p class="lead" style="font-family: 'Dela Gothic One', cursive; font-size: 36px; color: #90CAF9;">Experience</p>
        <br>
        <a href="assets/FREDERICO_MACEDO_Resume_Web.pdf" target="_blank">Check out my resume</a>
        <br>
        <br>
        <p>🚀 I am a seasoned Software Developer proficient in Java, Python, and Web programming, with over five years in
            esteemed organizations such as Nokia, Petrobras, and GTC Technologies. I've played a pivotal role in developing fullstack
            applications and implementing Network Automation in Python and Java, aligning with industry best practices
            and innovative technologies at Nokia and GTC Technologies.
            While at Petrobras, as a Quality Assurance Supervisor, I ensured optimal quality of industry solutions with AI
            applications over systems controls, managing comprehensive testing processes and pinpointing and resolving areas
            for improvement efficiently in collaboration with cross-functional teams, enabling enhanced software reliability and
            performance.
            I'm passionate about leveraging coding to create innovative and impactful solutions, particularly in software
            development and quality assurance, continuously aiming for excellence and adherence to the highest standards in
            every project. Eager to contribute my diverse skill set and experience to a dynamic and progressive team, I am
            committed to continuous learning and applying the latest industry advancements to achieve organizational goals and
            mutual growth.
        </p>
        
            
            
        
      </div>
      <div class="col-sm-6 main-page-image" @fadeIn>
        
        <img  src="assets/images/Portfolio-amico.svg" alt="Logo">
      </div>
      
    </div>
  </div>

</div>


