<div class="main-content">
  <div class="container mt-5 custom-about">

      <div class="row">

        <div class="col-md-6 main-page-image" @fadeIn>
          
          <img  src="assets/images/Project-Stages.gif" alt="Logo">
        </div>

        
        <div class="col-md-6">

          
          <h1 class="display-4" style="font-family: 'Barlow Semi Condensed', sans-serif; font-size: 3rem; color: #a3a4a4;">PROJECTS</h1>
          <br>
          
          <p>
            <span class="bold-text"> 🚀 Step Right Into the Adventure: The Experience Zone! 🚀</span>
            <br>
            Hold on to your hats, folks! This session isn't just any 'Experience' 
            section – it's a rollercoaster through the vivid world of innovation. 
            As you embark on this journey with me, you'll discover projects and 
            stories with passion, zest, and magic! 🌟 From the first spark of an 
            idea to its blazing execution, each saga showcases how I dance with 
            technology, turning the wildest dreams into reality. So, buckle up and
             get ready for a thrilling ride into the universe of a die-hard innovator. 
             Dive deep, laugh, learn, and celebrate these epic moments with me! 🎉
          </p>
        </div>
        
        
      </div>

      <div class="row">

        <div class="col-sm-1  icon-topic" @fadeIn>
          <img  src="assets/images/web-link.png" alt="Logo">
        </div>

        <div class="col-sm-11  " @fadeIn>

          <h5 class=" lead lead-sub-title">Dynamic Portfolio Web Application</h5>
          
          <p> This website serves as an exemplar of modern web development practices. Crafted using Angular, it harnesses the power 
          and flexibility of TypeScript and JavaScript, resulting in a responsive, 
          interactive user interface. The backend, powered by Node.js, ensures seamless data 
          operations and optimal performance. This portfolio showcases proficiency in 
          cutting-edge technologies and a passion for delivering high-quality digital 
          experiences. I am still working on bringing all the technologies I would love to share with you here.
          Check out a sample of my new project about market news. 
          <a class="nav-link" routerLink="/news" style="font-family: 'Dela Gothic One', cursive; font-size: 1rem; color: #90CAF9;">👉 Market News App</a>
          
          
            
        </div>
      </div>
      
      
      <br>
      <br>
      
      
      <div class="row">

        <div class="col-sm-1  icon-topic" @fadeIn>
          <img  src="assets/images/technology.png" alt="Logo">
        </div>

        <div class="col-sm-11  " @fadeIn>
          <h5 class=" lead lead-sub-title">VMS Blockchain System: Revolutionizing Vendor Management</h5>
      
          <p>Introducing the VMS Blockchain System - an innovative solution designed to redefine the landscape of vendor management. 
            Harnessing the unparalleled security and transparency of blockchain, the system 
            guarantees authentic, immutable contracts, ensuring absolute trust in every 
            transaction. Developed using TypeScript and Angular, the front-end offers an 
            intuitive user experience while the backend, built with JavaScript and Express, 
            provides robustness via a RESTful API architecture. Following the MVC design pattern, 
            this system is not just an application, but a testament to merging traditional vendor 
            management with next-gen blockchain technology.  | Client: Algonquin College | collaboration: Daniel dos Santos Barboza
            | July 2023.
            
              
          </p>
            
        </div>
      </div>
      
      <div class="row">

        <div class="col-sm-1  icon-topic" @fadeIn>
          <img  src="assets/images/business.png" alt="Logo">
        </div>

        <div class="col-sm-11  " @fadeIn>
          <h5 class=" lead lead-sub-title">Nokia Internal Project Cost Management System</h5>
          
      
          <p>At Nokia, I cooked up a snazzy web app focused on making project cost management a piece of cake. 
            Think real-time expense tracking with sleek screens, thanks to some CSS, JavaScript, and 
            HTTP magic. PowerFX jazzed up our data game, and with SharePoint, we neatly tucked all our data away.
            And, can't forget Power Automator – it was the silent hero, automating the boring stuff 
            like data imports and pinging us with notifications. The whole shebang's hosted on Azure, ensuring it 
            runs smooth and can grow with us. The result? A smarter, quicker way for Nokia to manage costs and 
            make top-notch budget decisions. Rolled out in May 2023. 😉
            
              
          </p>
            
        </div>
      </div> 
      
      <div class="row">

        <div class="col-sm-1  icon-topic" @fadeIn>
          <img  src="assets/images/innovation.png" alt="Logo">
        </div>

        <div class="col-sm-11  " @fadeIn>
          <h5 class=" lead lead-sub-title">Python Automation</h5>

      
          <p>Dive into a cool project where I played around with Python scripts to make 
            router setting tasks a breeze via the CLI. Not stopping there, I added some neat automation tests! 
            I also whipped up a Python script to smartly pull network logs from FortiAnalyzer using REST API, 
            breaking free from those annoying timestamp restrictions. The real magic? Linking this with Power BI KPI. 
            This combo gave our Cyber Security team a major boost, letting them monitor the network like pros 
            and run automated tests without breaking a sweat. | Client: Nokia | Feb 2023.
            
              
          </p>
            
        </div>
      </div>

      <div class="row">

        <div class="col-sm-1  icon-topic" @fadeIn>
          <img  src="assets/images/microchip.png" alt="Logo">
        </div>

        <div class="col-sm-11  " @fadeIn>
          <h5 class=" lead lead-sub-title">AI-Powered Predictive Monitoring In Oil & Gas Operations</h5>
          
          <p>Whipped up a slick AI system using a bit of Python magic to keep tabs on alarms and logs from oil 
            and gas action. The cool part? It could predict what operators would do next, nipping shutdowns 
            in the bud. Considering the whole "we can't afford to shut down" thing in the oil 
            and gas scene, this was a game-changer for Petrobras. More security, fewer hiccups, 
            better quality stuff, and oh, big bucks saved! 🛢️💡 | Client: Petrobras | Feb 2020.
            <a href="https://www.linkedin.com/pulse/ai-revolution-industrial-process-control-frederico-l%2525C3%2525BAcio-macedo%3FtrackingId=z8h3EvooS8OiZbAXJvNs8A%253D%253D/?trackingId=z8h3EvooS8OiZbAXJvNs8A%3D%3D" target="_blank" style="font-family: 'Dela Gothic One', cursive; font-size: 1rem; color: #90CAF9;">Check out</a> 
              
          </p>
          
        </div>
      </div>




  </div>
</div>
