<div class="container mt-5 custom-about">
    <div class="row">
      <div class="col-sm-6">
        
        <br>
        <p class="lead" style="font-family: 'Dela Gothic One', cursive; font-size: 36px; color: #BA68C8;">Projects</p>
       
        <br>
        <br>
        <h4>🛠 Oops! We’re Tuning Up! 🛠</h4>
        <br>
        <br>
        <p>Hey there! Thanks for stopping by. Currently, we’re doing a bit of maintenance on 
            this page to enhance your future experience. But don’t worry, there’s still 
            something cool for you!

            I invite you to explore some intriguing articles about AI projects 
            I’ve had the pleasure to work on. I hope you find them as exciting as I do!
             <a href="https://www.linkedin.com/pulse/ai-revolution-industrial-process-control-frederico-l%2525C3%2525BAcio-macedo%3FtrackingId=z8h3EvooS8OiZbAXJvNs8A%253D%253D/?trackingId=z8h3EvooS8OiZbAXJvNs8A%3D%3D" target="_blank" rel="noopener noreferrer">👉Dive into AI Project</a>, 
            
            <br>
            I appreciate your patience and look forward to presenting you with a refined and polished webpage soon.
            <br>
            Warm Regards,
            <br>
            Frederico Lucio Macedo
            <br>
            Creative Software Developer
            <br>
            
            
        </p>
        
        
      </div>
      <div class="col-sm-6 main-page-image" @fadeIn>
        
        <img  src="assets/images/Computer-amico.svg" alt="Logo">
      </div>
      
    </div>
  </div>

