.main-content {
    padding-top: 60px; /* Adjust this value based on the height of your header */
  }
.custom-bg {
    height: 150px;
    background-color: #9da7a2; /* You can choose any color you prefer */
    color:white;
    font-family: 'Raleway', sans-serif;
    
}
.custom-about {
    font-family: 'Quicksand', sans-serif;
}
.main-page-image img {
    max-width: 300px;
    height: auto;
}
.icon-topic img {
    max-width: 60px;
    height:  auto;
}
.bold-text {
    font-weight: bold;
  }
  