<div class="main-content">
  <div class="container mt-5 custom-about">

      <div class="row">

        <div class="col-sm-4 main-page-image" @fadeIn>
          
          <img  src="assets/images/Project-Stages.gif" alt="Logo">
        </div>

        
        <div class="col-sm-8">

          
          <h1 class="display-4" style="font-family: 'Barlow Semi Condensed', sans-serif; font-size: 3rem; color: #a3a4a4;">PROJECTS</h1>
          <br>
          
          <p>
            <span class="bold-text"> 🚀 Step Right Into the Adventure: The Experience Zone! 🚀</span>
            <br>
            Hold on to your hats, folks! This session isn't just any 'Experience' 
            section – it's a rollercoaster through the vivid world of innovation. 
            As you embark on this journey with me, you'll discover projects and 
            stories with passion, zest, and magic! 🌟 From the first spark of an 
            idea to its blazing execution, each saga showcases how I dance with 
            technology, turning the wildest dreams into reality. So, buckle up and
             get ready for a thrilling ride into the universe of a die-hard innovator. 
             Dive deep, laugh, learn, and celebrate these epic moments with me! 🎉
          </p>
        </div>
        
        
      </div>

      <div class="row">

        <div class="col-sm-1  icon-topic" @fadeIn>
          <img  src="assets/images/web-link.png" alt="Logo">
        </div>

        <div class="col-sm-11  " @fadeIn>
          <p class="lead portfolio-description">Dynamic Portfolio Web Application</p>

          This website serves as an exemplar of modern web development practices. Crafted using Angular, it harnesses the power 
          and flexibility of TypeScript and JavaScript, resulting in a responsive, 
          interactive user interface. The backend, powered by Node.js, ensures seamless data 
          operations and optimal performance. This portfolio showcases proficiency in 
          cutting-edge technologies and a passion for delivering high-quality digital 
          experiences. I am still working on bringing all the technologies I would love to share with you here.
            
        </div>
      </div>
      
      
      <br>
      <br>
      
      
      <div class="row">

        <div class="col-sm-1  icon-topic" @fadeIn>
          <img  src="assets/images/technology.png" alt="Logo">
        </div>

        <div class="col-sm-11  " @fadeIn>
          <p class="lead portfolio-description">VMS Blockchain System: Revolutionizing Vendor Management</p>
      
          <p>Introducing the VMS Blockchain System - an innovative solution designed to redefine the landscape of vendor management. 
            Harnessing the unparalleled security and transparency of blockchain, the system 
            guarantees authentic, immutable contracts, ensuring absolute trust in every 
            transaction. Developed using TypeScript and Angular, the front-end offers an 
            intuitive user experience while the backend, built with JavaScript and Express, 
            provides robustness via a RESTful API architecture. Following the MVC design pattern, 
            this system is not just an application, but a testament to merging traditional vendor 
            management with next-gen blockchain technology.  | Client: Algonquin College | collaboration: Daniel dos Santos Barboza
            | July 2023.
            
              
          </p>
            
        </div>
      </div>
      
      <div class="row">

        <div class="col-sm-1  icon-topic" @fadeIn>
          <img  src="assets/images/business.png" alt="Logo">
        </div>

        <div class="col-sm-11  " @fadeIn>
          <p class="lead portfolio-description">Nokia Internal Project Cost Management System</p>
      
          <p>For Nokia, I spearheaded a full-stack web application complemented by a comprehensive 
            business analysis solution, focusing on streamlined internal project cost management. 
            This centralized system offers real-time expenditure tracking through intuitive 
            interfaces developed with CSS, JavaScript, and HTTP. PowerFX facilitated dynamic data 
            interactions, while SharePoint provided organized data storage. Power Automator, 
            seamlessly integrated, automated critical tasks like data imports and notifications, 
            ensuring both efficiency and precision. Securely hosted on Azure Environment, 
            the application ensures scalability and consistent performance. My holistic approach 
            not only digitalized Nokia's cost management but also empowered decision-makers with 
            immediate, accurate insights, thereby optimizing project budget allocation and overall 
            business strategy. May 2023.
            
              
          </p>
            
        </div>
      </div> 
      





  </div>
</div>
