.main-content {
    padding-top: 60px; /* Adjust this value based on the height of your header */
  }
.custom-bg {
    height: 150px;
    background-color: #9da7a2; /* You can choose any color you prefer */
    color:white;
    font-family: 'Raleway', sans-serif;
    
}
.custom-about {
    font-family: 'Quicksand', sans-serif;
}
.portfolio-description {
    font-family: 'Dela Gothic One', cursive;
    font-size: 1rem;
    color: #FFC100;
}

.main-page-image img {
    max-width: 300px;
    height: auto;
    padding: 10px;
}
.icon-topic img {
    max-width: 40px;
    height:  auto;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: right;
}
.bold-text {
    font-weight: bold;
  }
  