<!-- MainContentComponent.html -->
<div class="main-content">
  <div class="container mt-5 custom-about">
    <div class="row">
      <div class="col-sm-6">
        
        <br>
        <h2>Contact me</h2>
        <h4>🌟 Let's Build Something Amazing Together! 🌟</h4>
        <br>
        <br>
        <p>I’m thrilled you’ve decided to reach out. Whether you have a project in mind, need help with something ongoing, or just want to say hello, I'm here to listen and assist you with any software development needs you may have.

            Feel free to drop me a line at 📬 <a href="mailto:fredvalentm.macedo@gmail.com">fredvalentim.macedo@gmail.com</a>, 
            or use the contact form below, and I’ll get back to you as soon as possible. 
            Let’s bring your ideas to life and create software that makes a difference.
            <br>
            Looking forward to creating, collaborating, and innovating with you!
            <br>
            Warm Regards,
            <br>
            Frederico Lucio Macedo
            <br>
            Creative Software Developer
            <br>
            📲 +1 613 869 9853
            
            </p>
        
        
      </div>
      <div class="col-sm-6 main-page-image">
        
        <img  src="assets/images/Mention-bro.svg" alt="Logo">
      </div>
      
    </div>
  </div>

</div>


