
.main-content {
    padding-top: 60px; /* Adjust this value based on the height of your header */
  }
.custom-bg {
    height: 150px;
    background-color: #9da7a2; /* You can choose any color you prefer */
    color:white;
    font-family: 'Raleway', sans-serif;
    
}
.custom-about {
    font-family: 'Quicksand', sans-serif;
}
.main-page-image img {
    max-width: 600px;
    height: auto;
    padding: 10px;
}

#home-intro {
    background-color: white;
}

#home-intro h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

#home-intro p {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

.btn-primary {
    background-color: #3498db;
    border-color: #3498db;
}
