<section id="home-intro" class="pt-5 pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="assets/images/Code-typing-pana.svg" alt="Your Image" class="img-fluid rounded-circle">
            </div>
            <div class="col-md-6">
                <h1 class="display-4">Frederico Lucio Macedo</h1>
                <p class="lead">Software Engineer & Tech Enthusiast</p>
                <p>
                    Welcome to my personal website! I am passionate about creating impactful and innovative solutions through software development. With a strong background in [Your Skills, e.g., Full Stack Development, Machine Learning], I have contributed to numerous projects, leading the design and implementation of robust and scalable systems.
                </p>
                <p>
                    Explore my website to learn more about my education, experiences, projects, and feel free to reach out for collaboration or just a friendly chat!
                </p>
                <a href="mailto:fredvalentm.macedo@gmail.com" class="btn btn-primary">Get in Touch</a>
            </div>
        </div>
    </div>
</section>
